/*Font family*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body{
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Quicksand'!important;
	letter-spacing: 0.5px;
	background-color: #F5FFFA!important;
	color: #44ED8C!important;
	-webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
img{
	max-width: 100%;
	-webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
a, a:hover, a:visited{
	text-decoration: none!important;
}

/*Heading*/
h3{
	font-size: 40px!important;
	font-weight: 400;
}
h5{
	font-size: 15px!important;
}
h6{
	font-size: 13px!important;
}
small{
	font-size: 12px;
}
.sm-divider{
	height: 10px;
}
.divider{
	height: 25px;
}
.lg-divider{
	height: 40px;
}
.xlg-divider{
	height: 60px;
}
.xxlg-divider{
	height: 80px;
}
.montserrat{
	font-family: 'Montserrat'!important;
}


#wrapper{
	overflow-x: hidden;
}

.title{
	font-weight: 800;
	margin-bottom: 25px;
}
.title.has-subtitle{
	margin-bottom: 5px;
}
.subtitle{
	margin-bottom: 30px;
}
.starter{
	background: transparent;
	background-size: cover;
	width: 100%;
	height: auto;
	padding: 20px;
}
.starter img{
	margin: 30px auto;
	display: block;
}

.header{
	color: #fff;
	padding-top: 25px;
	width: 100%;
	margin-bottom: 20px;
}
.header .title{
	font-weight: 500;
	margin-bottom: 0!important;
}
.header-1{
	background: transparent url(../img/header-1.png);
	background-size: cover;
	height: 80px;
}
.header-2{
	background: transparent url(../img/header-2.png);
	background-size: cover;
	height: 106px!important
}

#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 139px;
	width: 100%;
	background: url(../img/wave-1.png);
	padding-top: 55px;
}

.medicine-stock td:first-child{
	text-align: center;
	width: 90px;
}
.medicine-stock td{
	padding-bottom: 20px;
}
.medicine-stock img{
	max-width: 50px;
	max-height: 50px;	
}
.medicine-stock .stock{
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	line-height: 30px;
	float: right;
}

/*Wave*/
.wave-3{
	background: transparent url(../img/wave-3.png)no-repeat;
	background-size: cover;
	width: 100%;
	height: 455px;
}

/*Font weight*/
.light{
	font-weight: 300!important;
}
.regular{
	font-weight: 400!important;
}
.medium{
	font-weight: 500!important;
}
.bold{
	font-weight: 700!important;
}

.btn{
	letter-spacing: 1.2px;
	height: auto!important;
	width: auto;	
	padding: 10px 25px!important;
	border-radius: 5px!important;
	font-size: 13px;
	font-family: 'Quicksand';
	font-weight: 500!important;
	margin-bottom: 15px!important;
	transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
}
.btn:focus{
	outline: none!important;
}
.btn-block{
	width: 100%!important;
}
.btn-lg{
	font-size: 16px!important;
}
.btn.bg-green:hover{
	background-color: #37E381;
	color: #fff!important;
	transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
}
.btn.bg-white:hover{
	background-color: #FAFAFA;
	color: #44ED8C!important;
	transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
}
.btn.bg-white.text-blue:hover{
	color: #85C7F4!important
}

/*Text color*/
.text-white{
	color: #FFFFFF!important;
}
.text-green{
	color: #44ED8C!important;
}
.text-grey{
	color: #CCCCCC!important;
}
.text-red{
	color: #FA867A!important;
}
.text-blue{
	color: #85C7F4!important;
}

/*Text shadow*/
.text-green.shadow{
	text-shadow: 0 0 20px rgba(68, 237, 140, .4);
}
.text-red.shadow{
	text-shadow: 0 0 20px rgba(250, 134, 122, 1);
}
.text-blue.shadow{
	text-shadow: 0 0 20px rgba(133, 199, 244, .4);
}

/*Background*/
.bg-soft-green{
	background-color: #E1F7EC!important;
	color: #44ED8C;
}
.bg-green{
	background-color: #44ED8C!important;
	color: #FFFFFF!important;
}
.bg-white{
	background-color: #F5FFFA;
	color: #44ED8C;
}
.bg-black{
	background-color: #000;
}
.bg-blue{
	background-color: #85C7F4!important;
	color: #FFFFFF!important
}


/*Glow*/
.glow-green{
	box-shadow: 0 0px 30px rgba(68, 237, 140, .6)!important;
}
.glow-blue{
	box-shadow: 0 0px 30px rgba(133, 199, 244, .6)!important;
}
.glow-black{
	box-shadow: 0 5px 25px rgba(0, 0, 0, .05);
}

.icon{
	margin-top: -7px!important;
	width: 40px;
	height: 35px;
}
.icon-left{
	margin-left: -30px;
}
.icon-right{
	margin-right: -26px;
}
.icon-link{
	cursor: pointer;
}

.order{
	position: relative;
}
.order img.icon-order{
	background: #85C7F4;
	height: 80px!important;
	width: auto;
	margin-bottom: 30px;
	cursor: pointer;
	opacity: .6;
	transition: opacity 0.5s ease-in-out;
}
.order img.icon-order:hover{
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}
.order .qty{
	position: absolute;
	bottom: 28px;
	left: 50%;
	width: 15px;
	margin-left: -7.5px;
	font-size: 14px!important;
}

.badge{
	padding: 8px 20px!important;
	border-radius: 100px!important;
	margin: 10px auto;
}

.time{
	margin-top: 0px;
	color: #FFFFBE;
	font-size: 30px!important;
}

.card{
	background-color: rgba(255,255,255,.9);
	margin: 10px 0;
	border-radius: 5px;
	padding: 20px;
	font-size: 12px;
}
.card.card-lg{
	border-radius: 10px;
}

.content{
	margin-bottom: 30px;
}

table{
	width: 100%;
}
table th{
	color: #44ED8C;
	padding-bottom: 15px;
}
table td{
	padding: 5px 0;
}

input{
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid rgba(68, 237, 140, .3);
	padding: 10px 0;
	letter-spacing: 0.5px;
	font-size: 13px!important;
	transition: border-color 0.25s ease;
}
input:focus{
	outline: none;
	border-bottom-color: rgba(68, 237, 140, 1);
	transition: border-color 0.25s ease;
}


.no-padding-right{
	padding-right:5px!important;
}
.no-padding-left{
	padding-left:5px!important;
}
.no-padding-side{
	padding-left: 0!important;
	padding-right: 0!important;
}
.checkout{
	margin: 30px auto 20px;
}
.checkout td{
	width: 50%;
	border-right: 1px solid #DDF1FF;
	border-bottom: 1px solid #DDF1FF;
	padding: 10px 15px;
}
.checkout td:last-child{
	border-right: 0;
}
.checkout tr:last-child td{
	border-bottom: 0;
	border-right: 1px solid #DDF1FF;
}
.checkout td img{
	height: 20px;
}
.checkout input{
	background-color: rgba(133, 199, 244, .1);
	text-align: center;
	border-bottom: 0;
	padding: 5px;
	border-radius: 3px;
}

/*Choose Avatar*/
.avatar img{
	width: 180px;
	display: block;
	margin:0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none!important
}
.carousel-control.left img{
	margin-left: -12px;
}
.carousel-control.right img{
	margin-right: -12px;
}
.carousel-control img{
	width: 20px;
	margin-top: 80px;

}


/*SIDEBAR*/
.sidebar{
	background-color: #77B5E0!important;
	color: rgba(255,255,255,.8)!important;
	padding: 20px 30px!important;
}
.sidebar .item{
	background-color: rgba(255,255,255,.1);
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 15px auto 0px;
}
.sidebar .item img{
	height: 30px!important;
	margin: 5px auto;
}
.sidebar .item h5{
	margin-bottom: 5px;
}
.sidebar small{
	font-size: 10px;
	color: rgba(255,255,255,.5);
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

[canvas=container],
[off-canvas] {
    padding: 10px 20px;
}

[class*=js-] {
    cursor: pointer;
}